<div class="btn-div">
  <a id="survey-btn" class="btn btn-primary btn-lg" href="/survey" role="button">Take the Survey</a>
</div>

<hr>

<div class="container">
  <nav>
    <a href="/api/friends">API Friends List</a> |
    <a href="https://github.com/Strangebrewer/01-Friend-Finder" target="_blank">GitHub Repo</a>
  </nav>
</div>